<div class="container">
    <h1>Event details</h1>
    {{#with event}}
    <div class="card" style="width: 35rem;">
        <img class="card-img-top" src="{{eventImg}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{eventName}}</h5>
            <p class="card-text">{{type}}</p>
            <a href="{{url}}" class="card-text">Buy tickets here</a>
            <p class="card-text">Date: {{date}}</p>
            <p class="card-text">Min price: {{genre}}</p>
            <p class="card-text">{{minPrice}}</p>
            <p class="card-text">Max price: {{maxPrice}}</p>
            <p class="card-text">{{location.coordinates}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
{{/with}}
</div>