<div class="container">
    <div class="row">

        <div class="col-md-8">

            <h2>Edit user</h2>

            <br>
            <br>
{{#with user}}
            <form action="/user/{{id}}/edit" method="POST">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" value="{{username}}">
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" value="{{email}}">
                </div>

                <div class="mb-3">
                    <label class="form-label">Profile image</label>
                    <input type="text" class="form-control" name="profileImg" value="{{profileImg}}">
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="textarea" class="form-control" name="description" value="{{description}}">
                </div>
                
                

                <div class="mb-3">
                    <label for="roleInput" class="form-label">Change role</label>
                    <select name="role">
                        <option value="USER">User</option>
                        <option value="ARTIST">Artist</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-dark">Update!</button>
            </form>

            <div class="mb-3">
                <form action="/user/{{id}}/user-delete" method="POST">
                    <button type="submit" class="btn btn-danger">Delete this user</button>
                </form>
{{/with}}
            </div>

        </div>
    </div>
</div>